body {
    color: lightgreen;
    background: black;
    margin: 0px;
    font-family: "Oswald", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 1px rgb(141, 243, 141);
    padding: 15px;
    font-size: 30px;
    color: rgb(5, 233, 5);
}

.entrada {
    background: rgb(24, 23, 23);
    padding-bottom: 80px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid green;
}

.categoria h2 {
    color: rgb(57, 175, 57)
}